.cover {
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  &:after{
    content:'';
    display: block;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
   //background-image:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    background-image: url(./img/naturebackgroung.jpg);
  }
  .wrap{
    position: relative;
    z-index: 1;
  }
  .header{
    font-size:68px;
    color:black;
    padding: 24px 0;
    letter-spacing: 1px;
  }
  .decr{
    color:black;
    padding:15px 0 30px 0;
    font-size: 20px;
  }
}
